[SddmGreeterTheme]
Name=Oction
Description=Based on Swish sddm theme
Author=Tin Švagelj
Copyright=(c) 2023, Tin Švagelj
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/Caellian/SDDM_Oction
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=tin.svagelj@live.com
Theme-Id=Oction
Theme-API=2.0
